<div>
    New Poll

    <form>
        <div class="form-group">
            <label for="new-title">Title:</label>
            <input type="text" class="form-control" id="new-title" ng-model="form.title">
        </div>
        <div class="form-group">
            <label for="new-options">Options:</label>
            <textarea class="form-control" id="new-options" ng-model="form.options"></textarea>
        </div>
        <button type="submit" ng-click="createPoll()" class="btn btn-primary pull-right submit-button">Submit</button>
    </form>
</div>